.featured {
    /* display: inline-block; */
    width: 100%;
    margin: 0 auto;
    background: #f5fafe;
    margin-top: 41px;
    padding: 110px 0;
}

.featured .sub-title {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    color: var(--text-color);
}

.featured .row {
    align-items: flex-end;
}

.featured header .desc {
    margin-top: 15px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: var(--desc-color);
}

.featured .link a {
    display: flex;
    align-items: center;
    font-size: 0;
}

.featured .link span {
    margin-right: 8px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 27px;
    color: #0689ff;
}

.featured .list {
    margin-top: 70px;
    display: flex;
    gap: 30px;
}

.featured .item {
    flex: 1;
    background-color: #fff;
    border-radius: 12px;
}

.featured .item .thumb {
    width: 100%;
    height: 227px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.featured .body {
    padding: 17px 20px 24px;
    /* overflow: hidden; */
}

.featured .body .title a {
    font-weight: 600;
    font-size: 2rem;
    line-height: 1;
    color: var(--text-color);
    word-break: break-all;
}

.featured .item .desc {
    margin-top: 11px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #a3a6ab;
    word-break: break-all;
}

.featured .item .info {
    display: flex;
    margin-top: 21px;
}

.featured .item .icon {
    display: inline-block;
    margin-left: 23px;
}

.featured .item .icon:first-child {
    margin-left: 0;
}

.featured .item .label {
    margin-left: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.01em;
    color: #4d4d52;
    /* white-space: nowrap; */
}
