.fixed-header {
    background: #e6f0ff;
    padding-top: 26px;
    position: sticky;
    top: -26px;
    z-index: 1;
}

.navbar {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 500;
    /* padding-top: 38px; */
    padding: 12px 0;
}

.navbar ul {
    display: flex;
    margin-left: 50px;
}

.navbar ul a {
    color: #4f5361;
    padding: 0 14px;
}

.navbar ul a:hover {
    text-decoration: underline;
}

.navbar .action {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.navbar .action-link {
    color: var(--primary-color);
}

.navbar .action-btn {
    padding: 13px 16px;
    margin-left: 18px;
    border-radius: 8px;
}

.navbar .action-btn:hover {
    opacity: 0.9;
}

.hero-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 90px);
    max-width: 100%;
    position: relative;
    background: #e6f0ff;
}

/* .hero {
    margin-top: 118px;
    display: flex;
} */

.hero .info {
    width: 50.036%;
}

.hero .sub-title {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #687690;
}

.hero .title {
    margin-top: 8px;
    font-weight: 700;
    font-size: 6.2rem;
    line-height: 1.19;
    color: #000336;
}

.hero .desc {
    margin-top: 30px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.78;
    color: var(--desc-color);
}

.hero-cta .btn {
    margin-top: 40px;
    min-width: 170px;
    font-size: 1.3rem;
    padding: 15px 16px;
    line-height: 1.5385;
}

.hero-img {
    position: absolute;
    bottom: 0;
    right: calc((100vw - 1110px) / 2 - 100px);
}
