/* PC */
@media screen and (min-width: 992px) {
    .show-on-mobile {
        display: none;
    }

    .mobile-header {
        display: none;
    }
}

/* Tablet and Mobile */
@media screen and (max-width: 991px) {
    .navbar .navigation {
        display: none;
    }

    .navbar {
        position: relative;
    }

    .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .toggle-menu svg {
        width: 23px;
        color: var(--primary-color);
    }

    .menu-overlay {
        position: fixed;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s ease;
    }

    .menu-drawer {
        position: fixed;
        inset: 0 40% 0 0;
        padding: 32px 60px;
        background: #fff;
        z-index: 2;
        transform: translateX(-120%);
        transition: 0.5s ease;
    }

    .menu-checkbox:checked ~ .menu-overlay {
        opacity: 1;
        visibility: visible;
    }

    .menu-checkbox:checked ~ .menu-drawer {
        transform: translateX(0);
    }

    .logo-menu-mobile img {
        display: block;
        margin: auto;
    }

    .menu-drawer .navigation {
        margin-top: 40px;
    }

    .menu-drawer .navigation a {
        display: block;
        padding: 14px 0;
        color: #4f5361;
        font-weight: 500;
        font-size: 18px;
    }

    .menu-drawer .navigation a:hover {
        background: #ebebeb;
    }

    .separate {
        border-top: 1.5px solid #ebebeb;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .show-on-mobile {
        display: none;
    }
}

/* Mobile */
@media screen and (max-width: 767px) {
    .navbar .action {
        display: none;
    }

    .menu-drawer {
        inset: 0 30% 0 0;
        padding: 35px;
    }
}
